@import url("https://fonts.googleapis.com/css?family=Open+Sans");


.card {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px!important;
    line-height: 1.4!important;
    position: relative!important;
    width: 250px!important;
    margin-top: 1%!important;
    margin-left: 1%!important;
    transform: translateX -2% translatY(-2%)!important;
    background-color: #fff !important;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3)!important;
    transition: box-shadow 0.3s ease-in-out!important;
    float:left;
}


.card a {
    text-decoration: none;
}

/* line 50, C:/laragon/www/CardUI/sass/screen.scss */
.card:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3)!important;
}


.card__date {
    font-size: 10px;
    margin: 20px 20px 0 0;
    padding: 12px 12px;
    position: absolute;
    text-transform: uppercase;
    top:-27px;
    z-index: 1;
    }


.card__date__day {
    font-size: 10px;
}


.card__date__month {
    position: absolute;
text-align: center;
    color: #fff !important;
    background-color: #ef9636!important;
    position: absolute;
    text-transform: uppercase;
    left: 178px;
    border-radius: 50%;
    font-weight: bold;
    padding: 12px 15px;
    line-height: 15px;


}


.card__thumb {
    height: 150px;
    overflow: hidden;
    background-color: #000;
    transition: height 0.3s;
    text-align: center;
}


.card__thumb img {
    display: block;
    opacity: 1;
    transition: opacity 0.3s, transform 0.4s;
    transform: scale(1);
}


.card:hover .card__thumb img {
    opacity: 0.6;
    transform: scale(1.2);
}

.card__body {
    position: relative;
    padding: 2%;
    margin: 7px 2px;
}

.card__category {
   position: absolute;
    left: -2;
    top: -30px;
    height: 23px;
    padding: 0 15px;
    color: #fff;
    font-size: 11px;
    line-height: 23px;
    text-transform: uppercase;
    background-color: #ef761d;
}


.card__liens {
    position: relative !important;
    left: 60%!important;
    top: 1px!important;
    color: #fff!important;
    font-size: 11px!important;
    line-height: 11px!important;
    background-color: #ef761d!important;
    padding: 2% 2%!important;
    margin: 1%!important;
    text-transform: uppercase !important;
}

.card__title {
    margin: 0 !important;
    font-size: 20px!important;
    color: #000!important;
    font-weight: bold!important;
}

